<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetooretorno">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuProfessor" />
        <activity android:name=".telastestes.NotificacaoProfessor" />
        <activity android:name=".controle.BuscarProfessor" />
        <activity android:name=".controle.PerfilProfessor" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controle.EditarPerfilProfessor" />
        <activity android:name=".controle.EditarPerfilAluno" />
        <activity android:name=".MenuAluno" />
        <activity android:name=".controle.OpCadastros" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controle.CadastroProfessor" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controle.CadastroAluno" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>